HUB_URL=https://hub.snapshot.org
DATABASE_URL=
AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
WEBHOOK_AUTH_TOKEN=
STORAGE_ENGINE=file
VOTE_REPORT_SUBDIR=votes
NFT_CLAIMER_PRIVATE_KEY=
NFT_CLAIMER_NETWORK=
NFT_CLAIMER_DEPLOY_VERIFYING_CONTRACT=
NFT_CLAIMER_DEPLOY_IMPLEMENTATION_ADDRESS=
NFT_CLAIMER_DEPLOY_INITIALIZE_SELECTOR=
NFT_CLAIMER_SUBGRAPH_URL=
KEYCARD_API_KEY=
SENTRY_DSN=
SENTRY_TRACE_SAMPLE_RATE=
TUNNEL_SENTRY_DSN=
